# --------------------- LLM Config

USING_LOCAL_MODEL=1
OLLAMA_MODEL=gemma4:e2b 

# ---------------------
# /////////////////////
# --------------------- Database Config

DATABASE_USER=Postgres
DATABASE_NAME=CodeTutorDB
DATABASE_PASSWORD="Postgresql"

# ---------------------
