# --------------------- LLM Config

USING_LOCAL_MODEL=1
OLLAMA_MODEL=gemma4:e2b 

# ---------------------
# /////////////////////
# --------------------- Database Config

# Preciso definir o host pra que a autenticação via peer não ocorra
DATABASE_HOST=localhost
DATABASE_USER=Postgres
DATABASE_NAME=codetutordb
DATABASE_PASSWORD="Postgresql"

# ---------------------
